.flex{
  display: flex;
}
/*space between*/
.flex-between {
  display: flex;
  justify-content: space-between;
}
/*center horizontal*/
.flex-center-h{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// center vertical
.flex-center-v{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*all center*/
.flex-center-all{
  display: flex;
  align-items: center;
  justify-content: center;
}
