#login {
  padding: 0.2rem;
  form {
    transform: translate3d(0, 3rem, 0);
  }
  form, input, button{
    width: 100%;
  }
  input {
    padding: 0.1rem;
    border-bottom: 2px solid $theme;
  }
  .text-center {
    margin-top: 0.3rem;
    .btn {
      border-radius: 0.1rem;
    }
  }

}
