#topices{
   ul{
    margin: 0;
    padding: 0;
  }
   li{
    padding: 0.2rem;
    border-bottom: 1px solid $grey-light;
    margin-bottom: 0.2rem;
     .topices-content{
      margin-top: 0.2rem;
    }
  }
}

// 作者信息
.author{
   .author-name{
    font-size: 0.26rem;
  }
   img{
    border-radius: 50%;
    width: 0.9rem;
    height: 0.9rem;
  }
   p{
    margin: 0.1rem 0 0.1rem 0.2rem;
  }
}


// 主题
.topic{
  padding: 0.5rem 0.2rem;
  width: 100%;
  img{
    max-width: 100%;
  }
}
// 主题头部
.topic-head{
  // 标题部分
   h3{
    font-size: 0.3rem;
    margin-bottom: 0.2rem;
    &:before{
      font-size: 0.24rem;
      line-height: 0.45rem;
      color: #fff;
      display: inline-block;
      padding: 0.01rem 0.1rem;
      margin-right: 10px;
      border-radius: 0.04rem;
      background: $top;
      content: attr(title);
    }
    &.good{
      &:before{
        background: $good;
      }
    }
    &.share{
      &:before{
        background: $share;
      }
    }
    &.ask{
      &:before{
        background: $ask;
      }
    }
    &.job{
      &:before{
        background: $job;
      }
    }
    &.dev{
      &:before{
        background: $dev;
      }
    }
  }
}
// 主题内容
.topic-content{
  margin-top: 0.2rem;
}

// 主题回复
.topic-reply{
  margin: 0.2rem 0;
  padding: 0.2rem 0;
  border-bottom: 1px solid $grey;
  &:last-child{
    border: none;
  }
  // 代码部分
  .prettyprint, .language-javascript{
    background: $code;
    overflow-x: auto;
  }
  // 回复中的链接换行
  a{
    word-wrap: break-word;
    color: $link;
  }
  // 回复点赞及回复
  .reply-ups{
    margin-top: 0.1rem;
  }
}

// 回复评论
.replies{
  form{
    margin: 0.1rem 0;
  }
  textarea{
    border: 1px solid $grey-light;
    height: 1rem;
  }
  .btn{
    padding: 0.1rem 0.3rem;
  }
  &.reply-topic{
    margin: 0.5rem 0 2rem;
    textarea{
      height: 2rem;
    }
  }
}
