// corlor
$theme: #80bd01;
$theme-dark: darken($theme, 10%);
$top: #E74C3C;
$good: #e67e22;
$share: #FF974F;
$ask: #00A388;
$job: #6D378A;
$dev: #3498DB;
$dark: #000;
$grey: #aaa;
$grey-light: #e1e1e1;
$code: #f0f0f0;  // 代码颜色
$link: #1F8A70;  // 链接颜色
$up: #e64536;  // 点赞后的颜色
// 返回顶部
$gotop-bg: transparent;
$gotop: rgba(#ccc, 0.5);

// aside-left
$aside-bg: #656D78;
$aside-menu-bg: #434a54;

.theme {
  color: $theme;
}
.grey {
  color: $grey;
}
.grey-light {
  color: $grey-light;
}
.up {
  color: $up;
}
.link{
  color: $link;
}



// size
$page-space: 0.2rem;
